@import "tailwindcss";

h1 {
  /* Áp dụng các utility classes của Tailwind vào thẻ h1 */
  @apply text-3xl md:text-5xl font-extrabold mt-12 mb-4 leading-tight;
}

p {
  /* Áp dụng các utility classes của Tailwind vào thẻ p */
  @apply text-base md:text-lg text-gray-700 mb-4;
}

